:root{
    --cyan:hsl(180, 66%, 49%);
    --dark-violet:hsl(257, 27%, 26%);
    --red:hsl(0, 87%, 67%);
    --gray:hsl(0, 0%, 75%);
    --grayish-violet:hsl(257, 7%, 63%);
    --very-dark-blue:hsl(255, 11%, 22%);
    --very-dark-violet:hsl(260, 8%, 14%);
    --background-gray: #E0DEE3;
}
body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    max-width: 1400px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--gray);
    font-weight: 700;
}
a:hover{
    color: var(--very-dark-violet);
}
/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 3vh;
    padding: 1em 3em;
}
.logo{
    margin-top: 35px;
    height: 30px;
}
.nav-links{
    display: none;
}
.nav-links-float{
    max-height: 400px;
    width: 360px;
    position: absolute;
    text-align: center;
    top: 7vh;
    background-color: var(--dark-violet);
    border-radius: 20px;
    display: none;
}
.nav-active{
    display: inline;
}
.nav-links-float ul {
    padding: 0 4em;
}
.nav-links-float li{
    padding: 1em 0;
}
.horizontal-line{
    border: none;
    height: 1px;
    width: 70%;
    background: var(--grayish-violet);
}
.burger{
    cursor: pointer;
}
.burger div{
    width: 31px;
    height: 4px;
    background-color: var(--gray);
    margin: 5px;
}
.cta{
    background: var(--cyan);
    border: 1px var(--cyan) solid;
    border-radius: 2em;
    padding: .7em 2em;
    color: white;
    font-weight: 700;
}
.cta:hover{
    background: #AAEEEE;
    border: 1px #AAEEEE solid;
}
/* Hero section */
.hero-section{
    margin: 1.5em 0;
    height: 700px;
}
.hero-img{
    height: 360px;
    background-image: url(images/illustration-working.svg);
    background-repeat: no-repeat;
    background-size: 531px 357px;
}
.hero-title{
    text-align: center;
}
.hero-title h3{
    font-size: 18px;
    font-weight: 500;
    color: var(--gray);
    padding: 1em;
}
/* Form */
form{
    display: flex;
    flex-direction: column;
    background: var(--dark-violet);
    /* background-image: url(images/bg-boost-desktop.svg);
    background-image: linear-gradient((var(--dark-violet), (var(--dark-violet)),url(images/bg-boost-desktop.svg);
    background-repeat: no-repeat; */
    padding: 2em;
    margin: 1em;
    border-radius: 11px;
    gap: 2em;
}
.search-input{
    border-radius: 9px;
    border: none;
    padding: 1em 1.5em;
}
.form-btns{
    background: var(--cyan);
    border: 1px var(--cyan) solid;
    border-radius: .5em;
    padding: .8em 2em;
    color: white;
    font-weight: 700;
    letter-spacing: .1em;
}
.form-btns:active{
    background:var(--dark-violet);
    border: 1px #AAEEEE solid;
}
.search-input-active{
    color: var(--red);
    outline: var(--red);
    border: 2px var(--red) solid;
}
.prompt{
    display: none;
}
.prompt-active{
    display: block;
    color: var(--red);
}
/* Results */
.container{
    padding-top: 20px;
    display: block;
    justify-content: center;
}
.card-container{
    display: block;
}
.card{
    background-color: white;
    border-radius: 7px;
    height: 152px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
    margin: 1.5em;
    padding: 0 .9em;
    align-items: center;
}
.input-url::after{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: var(--grayish-violet);
}
.response{
    color: var(--cyan);
}
/* Middle section */
section{
    background-color: var(--background-gray);
    text-align: center;
    align-content: center;
}
.img-circle{
    background-color: var(--dark-violet);
    border-radius: 50%;
    display: inline-flex;
    height: 85px;
    width: 85px;
    
}
img{
    height: 40px;
    position: relative;
    top: 17px;
    left: 23px;
}
.boxes{
    display: block;
    border: 1px red solid;
}
p:first-of-type{
    color: var(--gray);
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 270px;
    background-color: white;
    margin: 0 20px;
    border-radius: 5px;
    margin-top: -40px;
    font-size: 16px;
    padding: 0 20px;
}
h3:nth-child(2n){
    color: var(--very-dark-violet);
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;        
    height: 300px;
    color: white;
    background: var(--dark-violet);
    padding: 100px 0 0 0;
    /* background-image: url(images/bg-boost-desktop.svg); */
    /* background-image: linear-gradient((var(--dark-violet), (var(--dark-violet)),url(images/bg-boost-desktop.svg); */
    /* background-repeat: no-repeat; */
}
/* Footer */
footer{
    background: var(--very-dark-violet);
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 2.3em;
    padding: 2em 0;
}
footer li{
    color: var(--gray);
}
.filter-white{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(38deg) brightness(101%) contrast(101%);
}
footer div:last-of-type img{
    height: 20px;
    padding: 0 1em;
}
footer li:first-child{
    color: white;
    font-weight: 700;
    margin: 3em 0 2em 0;
}
/* FEM attribution */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
/* Desktop style */
@media (min-width: 900px){
    nav{
        height: 8vh;
    }
    .nav-links{
        width: 80%;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        position: absolute;
    }
    nav ul li{
        display: inline-block;
        margin: 0 1em;
    }
    .burger{
        display: none;
    }
    .nav-links-float{
        transform: translateX(150%);
    }
    .hero-section{
        height: 420px;
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin: 2em 0;
    }
    .hero-title{
        color: var(--dark-violet);
        font-size: 24px;
        padding: .2em;
        order: 1;
        text-align: left;
        margin: 0 2em;
    }
    .hero-title h3{
        padding: 0;
        margin-bottom: 3em;
    }
    .hero-img{
        background-image: url(images/illustration-working.svg);
        background-size: 583px 418px;
        height: 100%;
        order: 2;
    }
    /* Form */
    form{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .search-input{
        width: 650px;
    }
    .form-btns{
        padding: 1em;
    }
    .prompt-active{
        display: inline-block;
    }
    /* Responses */
    .card{
        max-height: 65px;
        display: flex;
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
    }
    .card div{
        align-items: center;
    }
    .input-url::after{
        content: none;
    }
    .mid-section > p{
        margin: auto;
        max-width: 450px;
        font-size: 15px;
    }
    .boxes{
        display: flex;
        padding: 120px 0;
    }
    .box{
        width: 345px
    }
    .banner{
        height: 250px;
    }     
    footer{
        height: 310px;
        display: flex;
        justify-content: space-evenly;
        font-size: 11px;
    }
    .filter-white{
        height: 30px;
    }
    footer img{
        margin-top: 40px
    }
}