:root{
    --cyan:hsl(180, 66%, 49%);
    --dark-violet:hsl(257, 27%, 26%);
    --red:hsl(0, 87%, 67%);
    --gray:hsl(0, 0%, 75%);
    --grayish-violet:hsl(257, 7%, 63%);
    --very-dark-blue:hsl(255, 11%, 22%);
    --very-dark-violet:hsl(260, 8%, 14%);
}
body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    max-width: 1400px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--gray);
    font-weight: 700;
}
a:hover{
    color: var(--very-dark-violet);
}
/* Navbar */
nav{
    border: 1px red solid;
}
nav{
    display: flex;
    align-items: baseline;
    min-height: 8vh;
    padding: 1em 3em;
}
.logo{
    height: 30px;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1000px;
}
nav ul li{
    display: inline-block;
    margin: 0 1em;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: var(--gray);
    margin: 5px;
}
.cta{
    background: var(--cyan);
    border: 1px var(--cyan) solid;
    border-radius: 2em;
    padding: .7em 2em;
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.cta:hover{
    background: #AAEEEE;
    border: 1px #AAEEEE solid;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;        
    height: 300px;
    color: white;
    background: var(--dark-violet);
    padding: 100px 0 0 0;
    /* background-image: url(images/bg-boost-desktop.svg); */
    /* background-image: linear-gradient((var(--dark-violet), (var(--dark-violet)),url(images/bg-boost-desktop.svg); */
    /* background-repeat: no-repeat; */
}
/* Footer */
footer{
    background: var(--very-dark-violet);
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 2.3em;
    padding: 2em 0;
}
footer li{
    color: var(--gray);
}
.filter-white{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(38deg) brightness(101%) contrast(101%);
}
footer div:last-of-type img{
    height: 20px;
    padding: 0 1em;
}
footer li:first-child{
    color: white;
    font-weight: 700;
    margin: 3em 0 2em 0;
}
/* FEM attribution */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
/* Desktop style */
@media (min-width: 900px){
    
    .banner{
        height: 250px;
    }     
    footer{
        height: 310px;
        display: flex;
        justify-content: space-evenly;
        font-size: 11px;
    }
    .filter-white{
        height: 30px;
    }
    footer img{
        margin-top: 40px
    }
}